audioread
awscli
beautifulsoup4
boto3
botocore
certifi
cffi
charset-normalizer
cloudinary
colorama
contourpy
crayons
cvdata
cycler
decorator
docutils
ffmpeg-python
filelock
firebase-admin
Flask
flask-cors
fonttools
fsspec
future
gunicorn
idna
imageio
imageio-ffmpeg
Jinja2
jmespath
joblib
kiwisolver
lazy_loader
librosa
llvmlite
lxml
MarkupSafe
matplotlib
moviepy
mpmath
msgpack
networkx
numba
numpy
oidv6
opencv-python
openimages
packaging
pandas
piexif
pillow
platformdirs
pooch
proglog
progressbar2
psutil
psycopg2-binary
pyasn1
pycparser
pydub
pyparsing
python-dateutil
python-dotenv
python-utils
pytz
PyYAML
requests
rsa
s3transfer
scikit-image
scikit-learn
scipy
seaborn
setuptools
six
soundfile
soupsieve
soxr
stegano
sympy
threadpoolctl
tifffile
torch
torchaudio
torchvision
tqdm
typing_extensions
tzdata
urllib3
wget
waitress
